


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/adm.css">

    <title>Document</title>



<body id="body-admPage">
    <main>
        <div id="tittle-admPage">
            <h2 class="tittle-h2-admPage">Bem-vindo administrador</h2> 
        </div>

        <div id="tittle-admPage">
            <h3 class="tittle-h3-admPage">Tenha acesso aos principais serviços do seu site. Aqui você pode: <br>
                <ul class="tittle-ul"> 
                    <li class="tittle-li">Editar os dados dos seus Eventos e Usuários</li> 
                    <li class="tittle-li"> Atualizar os dados dos seus Eventos e Usuários</li> 
                    <li class="tittle-li">Excluir os dados dos seus Eventos e Usuários</li> 
                </ul> 
            
            </h3>
        </div>
        <div id="div-content-admPage">
            <div class="btn-admPage">
                
                   <form class="content-admPage" action="">
                    <label for="events"><p>Eventos</p>
                        <img class="img-admPage" src="/images/imagensEmComum/edit-eventos.png" alt=""></label>
                        <a href="/concerto/create">
                        <input type="button"
                        name="events" 
                        value="Criar"
                        class="input-admPage"></a> 
                        
                        <a href="/concerto/update-concert">
                        <input type="button"
                        name="endereco" 
                        value="Atualizar"
                        class="input-admPage"></a>
                    </form> 
                
            </div>

           

            <div class="btn-admPage">
                <form class="content-admPage" action="">
                        <label for="users"><p>Cadastrar Usuários</p>
                        <img class="img-admPage" src="/images/imagensEmComum/user-eventos.png" alt=""></label>
                        <a href="/users/register">
                            <input type="button"
                            name="user" 
                            value="Dados pessoais"
                            class="input-admPage"></a> 
                            
                            <a href="/users/create-address">
                            <input type="button"
                            name="endereco" 
                            value="Endereço"
                            class="input-admPage"></a>
    
                            <a href="/users/create-access">
                            <input type="button"
                            name="acesso" 
                            value="Acessos"
                            class="input-admPage"></a>
                </form>
            </div>

            <div class="btn-admPage">
                <form class="content-admPage" action="">
                        <label for="event"><img class="img-admPage" src="/images/imagensEmComum/edit.png" alt=""></label>
                        <input type="button"
                        name="event" 
                        value="Eventos"
                        class="input-admPage">
                </form>
            </div>

                <div class="btn-admPage">
                    <form class="content-admPage" action="">
                            <label for="event"><img class="img-admPage" src="/images/imagensEmComum/edit.png" alt=""></label>
                            <input type="button"
                            name="event" 
                            value="Eventos"
                            class="input-admPage">
                    </form>
                </div>

                    
        </div>
    </main>
    
</body>
</html>
</body>
</html>