<%- include('./partials/header') %>

<main>
    <form  
    action="/cadastro"
    method="POST"
    >
        <div id="dadosCadastro">
            <div class="instrucao">
                <h2 class="text-grey">Por favor, preencha todos os campos abaixo:</h2>
            </div>

            <div class="dados-pessoais">
                <div class="title-dados">
                    <h3>Dados Pessoais</h3>
                </div>

           


                <div class="name">
                    <label for="name" class="title-box">
                        Nome Completo
                        <span class="obrig">*</span>
                    </label>

                    <div class="box-info">
                        <input class="box-info" type="text" id="name" name="name" placeholder="Nome Completo" required>
                    </div>

                </div>

                
                                  

                <div class="CPF margin-top">
                    <label for="cpf" class="title-box">
                        CPF
                        <span class="obrig">*</span>
                    </label>
                    <div>
                        <input class="box-little" type="text" name="cpf" placeholder="000.000.000-00" required>

                    </div>
                </div>


            </div>

            <div class="date">
                <label for="date" class="margin-top title-box">
                    Data de Nascimento
                    <span class="obrig">*</span>
                </label>


                <div class="box-info">
                     <input class="box-info-little" type="date" name="date_nasc" class="form-control" placeholder="E-mail" required>
                </div>

            </div>


            <div class="title-box">
                <div class="sexo margin-top">
                    <div>
                        <label for="sexo" class="title-box">
                            Sexo
                            <span class="obrig">*</span>
                        </label>
                    </div>

                   
                    <spam class="title-box">
                        <input class="form-check-input" type="radio" name="sexo" id="masculino" value="masculino">
                        <label for="masculino">Masculino</label>
                    </spam>
                    <spam class="title-box">
                        <input class="form-check-input" type="radio" name="sexo" id="feminino" value="feminino">
                        <label for="feminino">Feminino</label>
                    </spam>
                    <spam class="title-box">
                        <input class="form-check-input" type="radio" name="sexo" id="naoInformado" value="naoInformado">
                        <label for="naoInformado">Não Informar</label>
                        </sapm>

            </div>

                        <div class="tel margin-top">
                            <div class="tel">
                                <div>
                                    <label for="telefone" class="title-box">
                                        Telefone
                                        <span class="obrig">*</span>
                                    </label>
                                </div>
                                <input class="box-little" type="tel" id="telefone" name="tel" required placeholder="(xx) xxxxx-xxxx" >
                         
                            </div>


                            <div class="dadosAcesso">
                                <div class="title-dados">
                                    <h3>Dados de Acesso</h3>
                                </div>

                                <div class="name">
                                    <label for="email" class="title-box">
                                        E-mail
                                        <span class="obrig">*</span>
                                    </label>

                                    <div class="box-info">
                                        <input class="box-info" type="text" id="email" name="email" placeholder="E-mail" required>
                                    </div>

                                </div>

                                <div class="e-mail margin-top">
                                    <label for="confirme-mail" class="title-box">
                                        Confirmar E-mail
                                        <span class="obrig">*</span>
                                    </label>


                                    <div class="box-info">
                                        <input class="box-info" type="text" id="email" name="email" placeholder="Confirmar e-mail" required>
                                    </div>
                                </div>


                                <div class="senha margin-top">
                                    <label for="password" class="title-box">
                                        Senha (Mínimo 8 Caracteres)
                                        <span class="obrig">*</span>
                                    </label>

                                    <div class="box-little">
                                        
                                        <input class="box-little" type="password" name="senha" placeholder="Senha" minlength="8" required>
                                    </div>

                                    <div class="senha margin-top">
                                        <label for="confirme-password" class="title-box">
                                            Confirmar Senha
                                            <span class="obrig">*</span>
                                        </label>

                                        <div class="box-little">
                                            <input class="box-little" type="password" name="senha" placeholder="Confirmar Senha" minlength="8" required>
                                        </div>

                                    </div>



                                    <div class="adress margin-top">
                                        <div class="title-dados">
                                            <h3>Endereço</h3>
                                        </div>
                                        

                                              <div class="cep ">
                                                <label for="cep" class="title-box">
                                                    <a>CEP</a>
                                                    <span class="obrig">*</span>
                                                </label>

                                                <div>
                                                    <input class="box-little" name="cep" type="text" id="cep"
                                                        placeholder="Digite o CEP" value="" size="10" maxlength="9"
                                                        required /></label>
                                                </div>
                                            </div>

                                            <div class="rua margin-top">
                                                <label for="rua" class="title-box">
                                                    <a>Rua</a>
                                                    <span class="obrig">*</span>
                                                </label>

                                                <div>
                                                    <input class="box-little" name="rua" type="text" id="rua"
                                                        placeholder="Rua" size="60" required /></label>
                                                </div>
                                            </div>

                                            <div class="bairro margin-top">
                                                <label for="bairro" class="title-box">
                                                    <a>Bairro</a>
                                                    <span class="obrig">*</span>
                                                </label>

                                                <div>
                                                    <input class="box-little" name="bairro" type="text" id="bairro"
                                                        placeholder="Bairro" size="40" required /></label>
                                                </div>
                                            </div>

                                            <div class="complemento margin-top">
                                                <label for="complemnto" class="title-box">
                                                    <a>Complemento</a>
                                                    <span class="obrig">*</span>
                                                </label>
                                                <div>
                                                    <input class="box-little" name="complemento" id="complemento" type="text"
                                                        placeholder="Complemento" />
                                                </div>
                                            </div>

                                            <div class="cidade margin-top">
                                                <label for="cidade" class="title-box">
                                                    <a>Cidade</a>
                                                    <span class="obrig">*</span>
                                                </label>
                                                <div>
                                                    <input class="box-little " name="cidade" type="text" id="cidade"
                                                        placeholder="Cidade" size="40" required /></label>
                                                </div>
                                            </div>

                                            <div class="estado margin-top">
                                                <label for="uf" class="title-box">
                                                    <a>Estado</a>
                                                    <span class="obrig">*</span>
                                                </label>
                                                <div>
                                                    <input class="box-little" name="uf" type="text" id="uf"
                                                        placeholder="Estado" size="2" required /></label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="sucess">
                                        <div class="button">
                                            <button type="submit" hover class="btn-sucess">
                                                <a>Cadastrar</a>

                                            </button>
                                        </div>


                                    </div>
    </form>
</main>


<%- include('./partials/footer') %>