<%- include('./partials/header') %>

<div id="conteudo">
    <section id="persona">
        <div class="foto">
            <img src="/images/imagensEmComum/persona.png" alt="">
        </div>
        <div class="nome">
            <div><p>Ingresso Ana</p></div>
            <div class="barcode">
                <h1><img src="./images/imagensEmComum/codigoBarra.png" alt=""></h1></div>
        
        <div class="iconPlus">
            <img src="/images/icons/Mais.png" alt="">
        </div>
        <div class="add">Adicionar Ingresso</div>
        </div>
    </section>
</div>


<div id="tabela">
    <div class="tabela01">
        <div class="z"></div>
        <div class="m">Produto</div>
        <div class="m">Área</div>
        <div class="m">Quantidade</div>
        <div class="m">Nome</div>
        <div class="m">Meia</div>
        <div class="m">Total</div>
        <div class="m">Status</div>
        <div class="z"></div>
    </div>
</div>

<div id="tabela2">
        <div class="tabela02">
            <div class="z"></div>
            <div class="m">
                <p class="p1">ColdPlay</p><br>
                <p class="p2"> End: Av Saul Elkind, S/N, <br> Londrina - PR <br>Data Show:  20/06/2022<br>Hora: 19:30</p>
                </div>
            <div class="m">Pista</div>
            <div class="y">
                <img class="arrowCart" src="/images/icons/arrow - left.png" alt="">
                <h2>02</h2>
                <img class="arrowCart" src="/images/icons/arrow - right.png" alt=""></div>
            <div class="m">Ana Souza <br>Rodrigo Souza</div>
            <div class="m">Não <br>Sim</div>
            <div class="m">R$450,00 <br>R$225,00</div>
            <div class="m">Ativo</div>
            <div class="z"></div>
        </div>
</div>

<div id="tabela3">
        <div class="tabela03">
            <div class="z"></div>
            <div class="m">
                <p class="p1">Artic Monkeys</p><br>
                <p class="p2"> End: Av Saul Elkind, S/N, <br> Londrina - PR <br>Data Show:  20/06/2022<br>Hora: 19:30</p>
                </div>
            <div class="m">Pista</div>
            <div class="y">
                <img class="arrowCart" src="/images/icons/arrow - left.png" alt="">
                <h2>02</h2>
                <img class="arrowCart" src="/images/icons/arrow - right.png" alt=""></div>
            <div class="m">Luiza Souza <br>Pedro Souza</div>
            <div class="m">R$450,00 <br>R$450,00</div>
            <div class="m">R$450,00 <br>R$225,00</div>
            <div class="m">Ativo</div>
            <div class="z"></div>
        </div>
</div>

<div id="tabela4">
        <div class="tabela04">
            <div class="z"></div>
            <div class="m">
                <div class="mm"> <p>Quantidade:&nbsp;</p> 
                    <p class="p1">1 inteira | 1 Meia</p>
                </div>
                <div class="mm">
                <p>Desconto:&nbsp;</p> 
                    <p class="p1">R$225,00</p> 
                </div>
                <div class="mm">
                <p>Taxa de Conveniência: &nbsp;</p> 
                    <p class="p1">R$20,00</p>
                </div>
                <div class="mmm">
                    <p class="valortotal" >ValorTotal: &nbsp;</p>
                        <p class="total">R$900,00</p>
                </div> 
                    <form>
                        <input class="comprar" type="button" value="Pagar">
                    </form>  
            </div>  
            <div class="m1">
                <img src="/images/imagensEmComum/coldplay.png" alt="">
                <img src="/images/imagensEmComum/ArticMonkeys.png" alt="">            
            </div>
            <div class="m3" >
                <img class="arrow" src="/images/icons/arrow - left.png" alt="">
                <img class="img" src="/images/imagensEmComum/DuaLipa.png" alt="">
                <img class="img" src="/images/imagensEmComum/Sandy.png" alt="">
                <img class="img" src="/images/imagensEmComum/Adelle.png" alt="">
                <img class="arrow" src="/images/icons/arrow - right.png" alt=""> <br>
                    <form>
                        <input class="maisshows" type="button" value="Mais Shows">
                    </form>
            </div>
            <div class="z"></div>

        </div>

    </div>


</div>

<%- include('./partials/footer') %>
