
    <header>
        <%- include('./partials/header') %>
    </header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <title>Document</title>
</head>
<body>

    <main id="mainContent">
        <div id="cart_perfil">
            <div id="cart_perfil">
                <section class="cart_foto">
                    <img src="/images/perfil/persona.png" alt="">
                </section>
                <section class="cart_name">
                    <p>NOME DO CLIENTE</p>
                </section>
                <section class="cart_barCode">
                    <img src="/images/perfil/codigoBarra.png"" alt="">
                </section>

            </div>

        </div>
    </main>
</body>
</html>