<%- include('./partials/navBar') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <title>Document</title>
</head>

<body>

    <section class="pagamento">

        <div class="form-pagamento">
            <div class="form-pagamento-img">
                <img src="/images/imagensEmComum/logo1.png" alt="">

            </div>
            <h3>Estamos a um passo para uma experiência incrivel</h3>
            
            <form action="/concerto/checkout" method="post">
                <div class="form-100">
                    <label>E-mail</label>
                    <input type="email"
                    name="email">
                </div>

                <div class="form-100">
                    <label>Dados do Cartão</label>
                    <input type="text" 
                    name="numeroCartao" 
                    placeholder="1234 12341234 1234">
                    <div class="form-50">
                        <input type="text"
                        name="vencimentoCartao" 
                        placeholder="12/23">
                        <input type="text" 
                        name="cvcCartao"
                        placeholder="CVC">
                    </div>
                </div>

                <div class="form-100">
                    <label>Nome no Cartão</label>
                    <input type="text" 
                    name="nomeNoCartao" 
                    placeholder="Nome impresso no cartão">
                </div>

                <div class="form-100">
                    <label>Endereço de faturamento</label>
                    <input type="text" 
                    name="ruaPagamento" 
                    placeholder="Rua/Número">

                    <input type="text" 
                    name="bairroPagamento" 
                    placeholder="Bairro">

                    <input type="text" 
                    name="cidadePagamento" 
                    placeholder="Cidade">

                    <select id="estadoPagamento" 
                    name="estadoPagamento">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                        <option value="EX">Estrangeiro</option>
                    </select>
                    <select id="pais" 
                    name="paisPagamento" 
                    aria-placeholder="País">
                        <option value="Brasil">Brasil</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>
                <p>Revise os valores antes de efetuar o pagamento</p>
                <h2>R$ 400,00</h2>

                <div class="form-110">
                    <input type="submit" value="pagar">

            </form>



        </div>
        </div>

    </section>
</body>

</html>

<%- include('./partials/footerCopy') %>
