<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/not-found.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Ingresso</title>
</head>

<header>
    <%- include('./partials/navBar') %>
</header>

<body>

    <div style="display: flex; flex-direction: column; flex-wrap: wrap; align-items: center;" id="main-errorPage">
        <div class="text-errorPage">
            <img style="width: 100px;" src="/images/imagensEmComum/simpsons_PNG85.png" alt="">
            <h2 class="h2-errorPage"> Uhullll!!! </h2> <br> <br>
            
            <br>
            <h1 style="font-size: 30px;" class="h3-errorPage">Vamos confirmar o seu pagamento. <br> <br> Fique de olho no seu e-mail <br> <br> </h1>
            </div>


    </div>



  </body>
</html>

<%- include('./partials/footer') %>


