<link rel="stylesheet" href="/stylesheets/reset.css">
<link rel="stylesheet" href="../public/stylesheets/index.css">
  <!-- CONTENT -->
  <main>
    <div id="contentHome">
      <section class='banner'>
        <img src="../public/images/home/bannerColdplay.png" alt="">
      </section>
  
      <div class='quemSomos'>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi utt."</p>
      </div>
  
      <section class='shows'>
        <header class="enunciado001">
          <div class='shows__header__title'>
            <img src='../public/images/perfil/codigoBarra.png' />
            <p>Os melhores shows você encontra aqui</p>
            <img src='../public/images/perfil/codigoBarra.png' />
          </div>
        </header>
      </section>
    </div>
    
  </main>


<!-- 
  <!-- SHOWS -->



  <!-- FOOTER -->
