<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/login_cadastro.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin+Condensed" />
    <title>Login</title>
</head>

<body>
    <header>
        <section id="logo" >
            <img class="logoHeader" src="/images/imagensEmComum/logo.png" alt="">
        </section>
        <section id="localizacaoHeader">
            <img class="localizacao" src="/images/icons/localizacao.png" alt="">
            <p> Londrina - PR</p>
        </section>
        <section id="buscarBotao">
            <img class="buscar" src="/images/icons/pesquisa.png" alt="">
        </section>
        <section id="buscar">
            <p>Buscar</p>
        </section>
        <section id="iconeLogin">
            <img class="loginAcesso" src="/images/icons/perfil.png" alt="perfil">
            <p class="loginTexto" >Login</p>
        </section>
        <section id="iconeCarrinho">
            <img class="carrinhoAcesso" src="/images/icons/carrinho.png" alt="">
            <p class="carrinhoTexto">Carrinho</p>
        </section>
    </header>
    <main id="conteudo">
        <div class="main-login">
            <div class="left-login">
                <h1>Faça login ou cadastre-se,<br />vem curtir <span> com a gente!</span></h1>
                <!-- <img src="/assets/img/animation-cine.svg" class="left-login-img" alt="" /> -->
              </div>
              <div class="right-login">
                <div class="card-login">
            <div id="headerCardLogin">
                <div class="logo">
                    <h1><img src="/images/login-cadastro/barcode.png" alt=""></h1>
            </div>
            <div class="text-logo">
                <h2>Olá!</h2>
            </div>
            <div class="logo">
                <img src="/images/login-cadastro/barcode.png" alt="">
            </div>
            </div>
            <div class="btn-login-sign">
                <button id="btnLoginSignUpSelect"">Login</button>
                <button class="btnLoginSignUp">Nova Conta!</button>
            </div>
                <div id="formLogin"
                  <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário" />
                  </div>
                  <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="senha" />
                </div>
                    <button class="btn-login">Login</button>
    </main>            


    </div>   
    <footer>
        <section id="ondeEstamos">
                <img src="/images/icons/localizacaoFooter.png" alt="">
                <div class="textoFooter">
                    <p class="footerTitulo">Onde Estamos?</p>
                    <p class="footerTexto">Av Saul Elkind, S/N, Conjunto Semiramis,<br>Londrina - PR</p>
                </div>
        </section>
        <section id="faleConosco">
                <img src="./images/icons/balao.png" alt="">
                <div class="textoFooter">
                    <p class="footerTitulo">Fale conosco:</p>
                    <p class="footerTexto">e-mail: emailtickets@tickets.com.br<br>Central de Atendimento: 1111 1111 1111</p>
                </div>
        </section>
            <div class="instagram">
                <a href="https://www.instagram.com/essantana/" target="_blank">
                <img src="/images/icons/instagram.png" alt="">
                </a>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com.br/elvis.s.santana" target="_blank">
                <img src="/images/icons/facebook.png">
                </a>
            </div>
        </section>
</footer>
</body>
</html>