<%- include('./partials/header') %>

<body>
    
    <main id="conteudo">
        <div class="main-login">
            <div class="left-login">
                <h1>Faça login ou cadastre-se,<br />vem curtir <span> com a gente!</span></h1>
                <!-- <img src="/assets/img/animation-cine.svg" class="left-login-img" alt="" /> -->
              </div>
              <div class="right-login">
                <div class="card-login">
            <div id="headerCardLogin">
                <div class="logo">
                    <h1><img src="/images/login-cadastro/barcode.png" alt=""></h1>
            </div>
            <div class="text-logo">
                <h2>Olá!</h2>
            </div>
            <div class="logo">
                <img src="/images/login-cadastro/barcode.png" alt="">
            </div>
            </div>
            <div class="btn-login-sign">
                <button id="btnLoginSignUpSelect">Login</button>
                <a class="btnLoginSignUp" href="/cadastro">Nova Conta!</a>
            </div>
                <div id="formLogin">
                  <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário" />
                  </div>
                  <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="senha" />
                </div>
                    <button class="btn-login">Login</button>
    </main>            


    </div>   
    <%- include('./partials/footer') %>