
        <%- include('./partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/perfilPage.css">
    <title>Document</title>
</head>
<header>
</header>
<body>

    <main id="main-perfilPage">

        <div id="divPrincipal-perfilPage">     
            <div class="fotoPerfil-perfilPage">
                <h2><% users.fotoEvento %></h2>
                <img src='./upload/concertos/<%= users.fotoEvento %>'>
            </div>
            <div class="dadosPessoais-perfilPage">
                <h1 class="text-perfilPage-H1"> Olá <%= users?.nomeCompleto %> </h1>
                <h2 class="text-perfilPage-H2"> Seja Bem vindo à sua área de usuário :) </h2>
            </div>
        <div class="acessoActions-perfilPage">
            <div class="acessoActions-perfilPage-P">
                <div>
                    <p class="text-perfilPage-P">Editar Dados</p>  
                </div>
            </div>
                
            <div class="acessoActions-perfilPage-P">
                <div>
                    <p class="text-perfilPage-P">Meus Pedidos</p>
                </div>
            </div>

            <div class="acessoActions-perfilPage-P">
                <div>
                    <p class="text-perfilPage-P">Sair da Conta</p>  
                </div>
            </div>


            </div>           
            </div>


    
    
</body>
</html>