<%- include('./partials/header') %>


<main>

    <div id="conteudoShows">
        <div id="enunciado">
            <h1>Os melhores shows você encontra aqui!</h1>
        </div>

    <div class="show">
        <div></div>
        <div class="show1">
            <img src="/images/imagensEmComum/Adelle.png" alt="">
        </div>
        <div class="text">
            <h1> Artic Monkeys</h1>
            <h2> Estadio Beira Rio</h2>
            <h3> Rio de Janeiro - RJ </h3>
            <h3> Av. Padre Cacique, 891 <br> Praia de Belas, Porto Alegre, RS <br> Brasil </h3>
        </div>
        <form class="comprar">
            <input class="comprar" type="button" value="comprar">
        </form>
    </div>

    <div class="show">
        <div class="Show2">
            <img src="/images/imagensEmComum/ArticMonkeys.png" alt="">
        </div>
        <div class="text">
            <h1> Artic Monkeys</h1>
            <h2> Estadio Beira Rio</h2>
            <h3> Rio de Janeiro - RJ </h3>
            <h3> Av. Padre Cacique, 891 <br> Praia de Belas, Porto Alegre, RS <br> Brasil </h3>
        </div>
        <form class="comprar">
            <input class="comprar" type="button" value="comprar">
        </form>
    </div>

    <div class="show">
        <div class="show3">
            <img src="/images/imagensEmComum/coldplay.png" alt="">
        </div>
        <div class="text">
            <h1> Coldplay </h1>
            <h2> Parque Olimpico da Barra</h2>
            <h3> Rio de Janeiro - RJ </h3>
            <h3> Av. Embaixador Abelardo Bueno, 340 <br> Barra da Tijuca, Rio de Janeiro - RJ <br> Brasil </h3>
        </div>
        <form class="comprar">
            <input class="comprar" type="button" value="comprar">
        </form>
    </div>

    <div class="show">
        <div show4>
            <img src="/images/imagensEmComum/DuaLipa.png" alt="">
        </div>
        <div class="text">
            <h1> Dualipa</h1>
            <h2> Pedreira Paulo Leminsk</h2>
            <h3> Curitiba - PR </h3>
            <h3> Endereço: R. João Gava, 970 <br> Abranches, Curitiba - PR <br> Brasil </h3>
        </div>
        <form class="comprar">
            <input class="comprar" type="button" value="comprar">
        </form>
    </div>

    <div class="show">
    <div show5>
        <img src="/images/imagensEmComum/Sandy.png" alt="">
    </div>
    <div class="text">
        <h1> Sandy </h1>
        <h2> Allianz Parque</h2>
        <h3> São Paulo - SP </h3>
        <h3>Endereço: Rua Palestra Itália, 200 <br> Água Branca São Paulo - SP, <br> Brasil</h3>
    </div>
    <form class="comprar">
        <input class="comprar" type="button" value="comprar">
    </form>
    </div>

</div>


<div id="conteudo">
    <div id="enunciado2">
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id doloribus, modi, minus odit odio ad amet reiciendis quasi neque tempore quisquam impedit cum delectus dolor eligendi porro itaque, nihil perferendis!</h1>
    </div>
</main>

<%- include('./partials/footer') %>



