

<header>
    <%- include('./partials/header') %>
  </header>
  
  
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/userCreate.css">
    <script type="text/javascript" src="/javascripts/scripts.js" ></script>
    <title>Digital Ingresso</title>
  </head>
  
  <body>
    
  
  
      <main>
        <div id="form_userRegistrer">

      
                <form id="form-mainForm" method="post" 
                action="/cadastro/access-register">

                <h1 id="form_userRegisterH1">
                  Cadastro de Endereço de Usuários
                </h1>
                    
                  <div class="form-group">
                      <label for="password">Cadastre uma senha</label>
                      <input type="password"
                      name="password" 
                      required
                      class="form-control" 
                      placeholder="Insira uma nova senha">
                  </div>
      
                  <div class="form-group">
                      <label for="passwordConfirm">Confirme sua senha</label>
                      <input type="password" 
                      name="passwordConfirm" 
                      required
                      class="form-control" 
                      placeholder="Confirme sua nova senha">
      
                  </div>
                  <div class="form-group">
                      <label for="email">Digite seu e-mail</label>
                      <input type="email" 
                      name="email" 
                      required
                      class="form-control" 
                      placeholder="Digite seu email">
                  </div>
      
                  <div class="form-group">
                    <label for="emailConfirm">Confirme seu e-mail</label>
                    <input type="email" 
                    name="emailConfirm" 
                    required
                    class="form-control" 
                    placeholder="Confirme seu e-mail">
                    <br>                    
                </div>   

                <div class="form-group">
                  <div class="submitBTN">
                    <button type="submit" class="submitbtn">Enviar meus dados</button>
                  </div>
                </div>   

                </form>
        </div>
      
          </main>
          
  
  </body>

  <footer>
    <%- include('./partials/footerCopy') %>
</footer>
  