

<header>
    <%- include('./partials/header') %>
  </header>
  
  
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/userCreate.css">
    <script type="text/javascript" src="/javascripts/scripts.js" ></script>
    <title>Document</title>
  </head>
  
  <body>
    
  
  
      <main>
      <h1>
        Cadastro de Usuários
      </h1>
  
            <form method="post" 
            action="/cadastro/user-register" 
            enctype="multipart/form-data" >
                
              <div class="form-group">
                  <label for="nome">Nome Completo</label>
                  <input type="text"
                  name="nome" 
                  required
                  class="form-control" 
                  placeholder="Nome Completo">
                
              </div>
  
              <div class="form-group">
                <label for="cpf">Data</label>
                <input type="number"
                name="cpf" 
                class="form-control" 
                placeholder="cpf"
                maxlength="11"
                minlength="11"
                required>
                
              </div>

              <div class="form-group">
                <label for="data">Data</label>
                <input type="date"
                name="data" 
                class="form-control" 
                placeholder="Data"
                required>
              </div>
  
              <div class="form-group">
                <label for="sexo">Sexo</label>
                <select name="sexo" required>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                  <option value="Não Informado">Não Informado</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="picture">Foto de Perfil</label>
                <input type="file" 
                name="picture" 
                
                class="form-control-file">
            </div>
  
                  <br>
                  <br>
            <div class="submitBTN">            

            <form>
              <div class="submitBTN">
                <button type="submit" class="submitbtn">Enviar meus dados</button>
              </div>
              </form>
            </div>
            </form>
          </main>
          
  
  </body>

  <footer>
    <%- include('./partials/footerCopy') %>
</footer>
  