<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

    <div class="cadastro__evento">

      <h2 class="text-grey">Por favor, preencha todos os campos abaixo:</h2>
        <form action="/novo" method="post">
          <label for="nome__evento">
            Nome do evento:
          </label>
          <input type="text" name="nome__evento" id="nome__evento" placeholder="Nome do evento" required><br>

          <label for="data__evento">
            Data:
          </label>
          <input type="date" name="data__evento" id="data__evento" required><br>

          <label for="hora__evento">
            Hora
          </label>
          <input type="time" name="hora__evento" id="hora__evento" required><br>

          <label for="local__evento">
            Local:
          </label>
          <input type="text" name="local__evento" id="local__evento" required><br>

          <label for="ingressos__evento">
            Ingressos
          </label>
          <input type="text" name="ingressos__evento" id="ingressos__evento"><br>

          <label for="descricao__evento">
            Descrição:
          </label>
          <textarea name="descricao__evento" id="descricao__evento" cols="30" rows="10"></textarea><br>

          <button type="submit" class="btn btn-success conteiner-cadastro">Adicionar / Salvar</button>




          




          






        </form>







    </div>

</body>
</html>