<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

    <div class="cadastro__evento">

      <h2 class="text-grey">Por favor, preencha todos os campos abaixo:</h2>
        <form action="/novo" method="post">
          <label for="nome__evento">
            Nome do evento:
          </label>
          <input type="text" name="nome__evento" id="nome__evento" placeholder="Nome do evento" required>

          




          






        </form>







    </div>

</body>
</html>