#body-admPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    /* border: yellow 1px solid; */
    background-color: #16172C;
    
}

#body-admPage main{
    width: 80vw;
    margin: 40px 20px;
}

#body-admPage #tittle-admPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    margin: 40px;

}
#body-admPage #tittle-admPage .tittle-h2-admPage{
    text-align: center;
    line-height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 45px;
}
#body-admPage #tittle-admPage .tittle-h2-h3{
    text-align: center;
    line-height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 25px;
}

#body-admPage #tittle-admPage .tittle-li, .tittle-ul{
    text-align: left;
    font-size: 20px;
    font-weight: lighter;

}

#body-admPage #div-content-admPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: red 1px solid; */
    height: auto;
    margin: 3%;
    max-width: 200%;
    max-height: 200%;
}
#body-admPage .content-admPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: red 1px solid; */
    background-color: #1F2239;
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
    font-size: 12px;
    color: white;
    border-radius: 20px;
    
    

}

#body-admPage .content-admPage label{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 10%;
    justify-content: center;

}

#body-admPage .btn-admPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 3vh;
    /* border: 1px solid yellow; */
    background-color: #1F2239;
    text-align: center;
    width: 25vh;
    height: auto;
    border-radius: 20px;
    max-width: 200%;
    max-height: 200%;
    padding: 10px;
}

#body-admPage .btn-admPage{
    max-width: 95%;
    cursor: pointer;
    border-radius: 20px;

}

#body-admPage .input-admPage{
    width: 150px;
    max-width: 95%;
    cursor: pointer;
    border-radius: 20px;

}



#body-admPage #div-content-admPage .img-admPage{
    width: 100px;
    max-width: 95%;
    max-height: 95%;
}

