body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16172C;
    width: 100vw;
    height: auto;
    font-family: roboto;

}

header{
    width: 100vw;
}

#main-editConcert {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: pink solid; */
    width: 80%;
    margin: 6%;

}

.editConcert-tittle{
    display: flex;
    flex-direction: column;
    /* border: solid yellow; */
    margin: 5%;


}

#editConcert-tittleH1 {
    color: #EDE3F5;
    font-size: 30px;
    text-align: center;
    line-height: 33px;
    /* border: solid yellow; */
    width: 100%;
    
}
#editConcert-bodyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: blue solid; */
    padding: 2% 10%;
    background-color: #1F2239;
    border-radius: 10px;

}

.editConcert-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: red solid; */
    width: 100%;
    padding: 10%;
}

.editConcert-pictureImg {
    width: 35%;
}


.form-group {
    color: #EDE3F5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    /* border: blue solid; */
    padding: 2% 0


}

.form-group input{
    width: 60%;
}

#editConcert-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10%;
    /* border: solid red; */
}

.submitBTN {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    height: auto;
    border-radius: 7px;
    color: #33305B;
    background: #EDE3F5;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    margin: 5px;

}

.submitbtn:hover{
    color:  #EDE3F5;
    background: #33305B;
}


.submitBTN:hover{
    color:  #EDE3F5;
    background: #33305B;
}

footer{
    width: 100vw;

}

