



#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1F2239;
    color: #554E80;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: auto;

}

#footer .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    width: 22vw;
    height: 20vh;
    align-items: center;
    text-decoration: none;

    
}
#footer .social img {
    font-size: 80%;
    width: 2vw;
    
}
#footer .social p {
    width: 15vw;
}

#footer .social a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10vw;
    height: 10vh;
}



#footer .footer001 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    width: 22vw;
    height: 20vh;
    align-items: center;
}

#footer .footer001 p {
    width: 15vw;
}


#footer .footer001 img {
    width: 20px;
}



@media (max-width: 999px) {

    #footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    #footer .footer001 {
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
    }

    #footer .text-footer p{
        text-align: center;
        color: black;
        width: 50vw;
        font-size:12px;
        line-height: 12px;
        color: red;
        border: green solid;
    }
    
    
    #footer .footer001 img {
        width: 20px;
        height: auto;
        border: red;
    }
    #footer .social {
        display: flex;
        flex-direction: row;
        width: 300%;
        height: 5vh;
    }

    #footer .social img {
        width: 30px;
        background-color: blue;

    }

    
    #footer .social a {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        height: auto;
        background-color: green;
        border: yellow solid;

    }
}