#principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 15vh;
    background-color: #1F2239;
    justify-content:space-between;
    left: 10%;
    right: 10%;
}

#principal .caixa01 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 25%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    width: 23%;

}
.logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.logo img {

    max-width: 80%;
    max-height: 80%;
}

.caixa02 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    max-width: 80%;
    max-height: 90%;
    justify-content: flex-start;
    align-items: center;

}

#localizacao {
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    height: 35%;
    margin-left: none;
    max-width: 90%;
    max-height: 50%;
}

#localizacao .icone {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    position: relative;
    height: 25px;

}

#localizacao .icone img{
    margin-left: 10px;
    max-height: 90%;
    height: 100%;
    overflow: hidden;


}

#localizacao .cidade {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    position: relative;
    height: 25px;
    justify-content: center;
    margin-left: 10px;

}

#localizacao .cidade p {
    display: flex;
    flex-direction: row;
    font-size:12px;
    max-width: 100%;
    max-height: 100%;
    color: #554E80;
    position: relative;
    overflow: hidden;
	overflow-wrap: break-word;

}

#campoBusca {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    height: 35%;
    align-items: center;
    max-width: 100%;
    max-height: 50%;
    background-color: #3E3863;


}

#divBusca {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    max-height: 90%;


}
#divBusca input{
    background-color: #3E3863;
    width: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    

  }

  #txtBusca{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:transparent;
    font-size:12px;
    border:none;
    max-width: 100%;
    max-height: 100%;
    color: #554E80;
    height: 30px;

  }

  #btnBusca{
    width: auto;
    font-size: 12px;
    background: #33305B;
    cursor: pointer;   
    border: none;
    color: #554E80;
    height: 30px;
  }

  #btnBusca:hover {
    background:  #EDE3F5;
    color: #33305B;
    height: 30px;

}

#areaLogada {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20vw;
    max-height: 100%;
}

#areaLogada .caixa3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
    max-height: 100%;


}
#areaLogada .iconePerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #554E80;
    font-size: 9px;
    height: 25%;
    max-height: 80%;
}

#areaLogada img {
    width: 20px;
    height: 20px;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}

#areaLogada .iconeCarrinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #554E80;
    font-size: 9px;
    height: 25%;
    

}