/* SECTION - CONTENT */

.content {
    display: flex;
    flex-direction: column;
    width: auto;
    color: #ede3f5;
  }
  
.content__hero-banner {
    height: 500px;
    width: 100%;

    background-image: url(/images/home/bannerColdplay.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.content__hero-banner img {
    width: 100%;
    height: 100%;
}

.content__presentation {
    padding: 58px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__presentation img {
    margin-bottom: 15px ;
}

.content__presentation__text p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

/* SECTION - SHOWS */

.shows {
    padding: 62px 100px;
    background-color: #16172c;
}

.shows__header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
}

.shows__header__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.shows__header__title img {
    width: 100px;
    height: 20px;
    margin: 0 30px;
}

.shows__header__title p {
    font-family: 'Bakbak One', cursive;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
}

.shows__header__icons {
    display: flex;
    justify-content: center;
}

.shows__header__icons svg:nth-child(2) {
    margin: 0 33px;
}

.shows__header__icons svg:hover {
    cursor: pointer;
}



.shows__carousel__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 20px;
}

.shows__carousel__list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shows__carousel__list__item img {
    margin-bottom: 15px;
}

.shows__carousel__list__item p {
    font-size: 30px;
    line-height: 25px;
    color: #423C6C;
    text-align: center;
    text-transform: uppercase;
}

.shows__carousel__list__item.active img {
    margin-bottom: 25px;
}


.shows__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shows__description p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 3rem;
}

.shows__description button {
    background: #423C6C;
    border-radius: 12px;
    border: none;
    width: 200px;
    height: 53px;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
}

.shows__description button:hover {
    cursor: pointer;
}

/* FOOTER */

footer.footer {
    padding: 50px 100px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2239;
}

.footer__section {
    display: flex;
    align-items: flex-start;
}

.footer__section  img {
    width: 41px;
    height: 41px;
    margin-right: 15px ;
}

.footer__section__text-wrapper p {
    font-size: 20px;
    line-height: 28px;
    color: rgba(237, 227, 245, 0.95);
}

.footer__social-media {
    display: flex;
}

.footer__social-media div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-media div:first-of-type {
    margin-right: 30px;
}

.footer__social-media img {
    margin-bottom: 5px;
}

.footer__social-media p {
    color: rgba(237, 227, 245, 0.95);
    letter-spacing: 1px;
}
