
html {
    box-sizing: border-box;
}

body {
    padding: 0px; margin: 0;
    background-color: #1F2239;
}



/* SECTION - CONTENT */


#contentHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: yellow solid 1px;
    width: 100vw;
    height: auto;

}
.quemSomos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: blue solid 1px;
    width: 100vw;
}


.quemSomos p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    border: red solid 1px;
    width: 80vw;
    height: 20vh;


}

/* SECTION - SHOWS */

.shows {
    padding: 62px 100px;
    background-color: #16172c;
}

.enunciado001{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
    color: white;
    border: solid 1px pink;

}
