* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #ccc;
}

#main-listPage{
    background-color: #16172C;

}
.ul-listPage{
    width: 100%;
}
.li-listPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.li-listPage-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    margin: 20px;

}

.form-listPageImg{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.form-listPageImg img {
    width: 100px;
}

.form-listPageImg h1 {
    padding: 13px;
}

.form-listPage{
    display: block;
    width: 60%;
}

.form-listPage  label{
    display: block;
    width: 100%;
}
.form-listPage input{
    width: 100%;
}

.btn-listPage{
    display: flex;
    flex-direction: row;

}

.btn-listPage button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 7px;
    color: #33305B;
    background: #EDE3F5;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin: 5px;
    
    }

    .btn-listPage button:hover{
        color:  #EDE3F5;
        background: #33305B;
    }



