* {
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
}


.navContent-naBar img {
    width: 70%;
}


.logo-navBar {
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo-navBar:hover{ 
    opacity: 0,7;
}

.navContent-naBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1F2239;
    height: 14vh;

}

.nav-List{
    list-style: none;
    display: flex;

}

.nav-List li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-List a {
    text-decoration: none;
    color: #fff;
}

.active {
    display: flex !important;
}

.mobileMenu-navBar {
    cursor: pointer;
    display: none;
}

.mobileMenu-navBar div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

@media (max-width: 999px) {
    body{
        overflow: hidden;
    }
    .nav-List {
        position: absolute;
        top: 14vh;
        right: 0;
        width: 40vw;
        height: 20vh;
        background:  #1F2239;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 100;
        display: none;
    }
    
    .nav-List li {
        margin-left: 0;
    }

    .mobileMenu-navBar {
        display: block;
    }

    .navContent-naBar img {
        width: 50%;
    }




}


