
html {
    box-sizing: border-box;
}

body {
    padding: 0px; margin: 0;
    background-color: #1F2239;
    
}
h5{
    font-weight: bold;
    color: #988FB6;
    padding-right: 3px;
    padding-left: 3px;
}

li{
    flex-direction: row;
    display: flex;
    line-height: 12px;
}

/* Background Conteudo */

#conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: auto;
    color: #EDE3F5;
    background-color: #16172C;
    height: auto;
    
}

/* Dados Usuario */
#persona{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#editarDados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30vw;
    

 }

 #editarDados .p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: safe;
    align-items: center;
    width: 10vw;
    height: auto;
    

}

#editarDados .p p{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    color: #EDE3F5;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

#editarDados .p img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
    

}

#usuario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 45vw;
    height: auto;
    padding: 5%;
    margin-top: 5%;
    background-color: #1F2239;
}

#usuario2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 45vw;
    height: auto;
    padding: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: #1F2239;

}

/* Formulario Cadastro Dados Usuario */
#formulario{

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;


    
}
#cadastro{
    align-items: flex-start;
    color: #EDE3F5;

}




#usuario img {
    max-width: 100%;
    max-height: 100%;

}

#usuarioTexto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-top: 07px;
    width: 15vw;
}

#usuarioTexto2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-top: 07px;
    width: 30vw;
}

#usuario p{
    
    padding-top: 05px;
    font-family: bakbak one;
    font-size: 24px; 

}

#usuarioNome{
    padding-left: 10px;
  
  
    
}

#usuarioSobrenome{
    font-family: bakbak one;
    font-size: 23px;
    padding-left: 65px;
   
   
}

#codigoBarra{
    height: 12px;
    padding-left: 10px;
   
}

#dados{
    
    padding-left: 10px;
    padding-top: 20px;
    font-family: "Cabin Condensed";
    font-style: normal;
    font-size: 10.1px;
    color: #EDE3F5;

}



input{
  
    width: 260px;
    height: 20px;
    background-color: #3E3863;
    font-size: 10px;
    font-family: bakbak one;
    margin-top: 6px;
    margin-left: 10px;
    border:none;
    margin: 6px;
    padding-left: 10px;
    color: #EDE3F5;
    
    

}

/* Dados Historico Ultimo Ingresso Comprado */

#dadosIngressos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
    color: #EDE3F5;
    padding: 4%;
    width: 100vw;

}

.meuShow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    height: 100%;


}
.meuShow img {
    max-width: 100%;
    max-height: 100%;
}


#dadosCompra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:  #EDE3F5;
    width: 20vw;
    margin-left: 5%;
    align-items: center;


}
.botao {
    width: 10vw;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    color: #33305B;
    background: #EDE3F5;
    cursor: pointer;
    font-family: bakbak one;
    font-size: 15px;
    position: relative;
    top: 7px;
    }
    .botao:hover {
        color:  #EDE3F5;
        background: #33305B;
    }