body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33305B;

}
#main-perfilPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 1px red;
    align-items: center;
    background-color: #33305B;
    justify-content: center;
}

#divPrincipal-perfilPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 1px white;
    width: 30vw;
    height: auto;
    justify-content: center;
    text-align: center;
    padding: 10vh;
    background-color: #1F2239;
    margin: 10px;
    border: solid 1px pink;






}

.fotoPerfil-perfilPage img{
    border: solid 1px pink;
    max-width: 90%;
    max-height: 90%;
    
}

#divPrincipal-perfilPage .text-perfilPage-H1{
    color: white;
    font-size: 200%;
    border: solid 1px blue;
    width: 30vw;
    max-width: 100%;
}



#divPrincipal-perfilPage .text-perfilPage-H2{
    padding: 5px;
    color: white;
    font-size: 140%;
    


}

#divPrincipal-perfilPage .text-perfilPage-P{
    padding: 5px;
    color: white;
    font-size: 16px;
    line-height: auto;
    border: solid 1px white;
    margin: 10px;
    background-color: #33305B;
    border-radius: 10px;
    width: 100px;



}

#acessoActions-perfilPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    border: red solid;

}


