html {
    box-sizing: border-box;
}

body {
    padding: 0px; margin: 0;
    background-color: #1F2239;
}



#conteudoShows {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EDE3F5;
    background-color: #16172C;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    bottom: 30px;

}


#conteudoShows .show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 17vw;
    height: auto;
    justify-content: center;
    background-color:#1F2239;
    margin: 3%;
    border-radius: 5%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding: 2%;

}

#conteudoShows .show img {
    position: relative;
    width: 10vw;
    max-width: 100%;
    max-height: 100%;
    padding: 10%;
}
#conteudoShows .show .text {
    width: 100%;
    text-align: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

#conteudoShows .show .text h1,h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    width: 100%;
    font-size: 15px;
    text-align: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

#conteudoShows .show .text h3 {
    color:#554E80;
    width: 100%;
    font-size: 10px;
    text-align: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.btn-buy{
    margin: 7%;
}

#conteudoShows .show .btn-buy {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    background: #EDE3F5;
    color: #33305B;
    width: 10vw;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: none;
    padding: 10px;
    cursor: pointer;


}

#conteudoShows .show .showPage-buy:hover {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    background: #33305B;
    color: #EDE3F5;
    width: 10vw;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: none;
    padding: 10px;
    cursor: pointer;

    
}

#enunciado h1 {
    display: inline-flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    line-height: 25px;
    height: 10vh;
    width: 100vw;
    margin-top: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#enunciado2 h1 {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #554E80;
    justify-content: center;
    line-height: 25px;
    height: 10vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 25px;
}

#footerShows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

}

/* Modal Carrinho */
.modal-container{
    width: 50vw;
    height: 100vh;
    background-color: aqua;
    position: fixed;
    top: 0px;
    z-index: 2000;
    display: none;
}

.btn-close-cart{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background:#33305B;
    color: white;
}

.modal-container.mostrar{
    display: flex;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}

