html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #16172C;

}



main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 10%;
    border-radius: 3%;
    background-color: #1F2239;

}

#form_userRegistrer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 90%;
}




#form-mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 10px;
}

.form-group {
    color: #EDE3F5;
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100vw;
    height: auto;
    line-height: 30px;
    max-width: 90%;


}

.form-group input, select, label {
    width: 60%;
    font-size: 15px;
}



footer{
    width: 100vw;

}

.submitbtn{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    font-size: 17px;
    justify-content: center;
    width: 150px;
    height: auto;
    border-radius: 10px;
    color: #33305B;
    background: #EDE3F5;
    cursor: pointer;
    border: none;
    

}
.submitbtn:hover{
    color:  #EDE3F5;
    background: #33305B;

}

#form_userRegisterH1 {
    color: #EDE3F5;
    font-size: 25px;
    text-align: center;
    width: 40vw;
    max-width: 100%;
    padding: 3% 0%;
}







